/** style(sidebar) title */
.monaco-workbench .part.sidebar > .title > .title-label h2 {
  --title-color: color-mix(
    in srgb,
    color-mix(
      in srgb,
      oklch(from var(--vscode-sideBarTitle-foreground, var(--vscode-foreground)) l c h / 1) 60%,
      oklch(from var(--vscode-sideBarTitle-foreground, var(--vscode-editor-background)) 0.95 0.5 h)
    ),
    oklch(from var(--vscode-editor-compositionBorder, var(--vscode-foreground)) l c h / 1) 80%
  );
  text-transform: uppercase;
  color: var(--title-color) !important;
  font-weight: 600;
  /* text-shadow: 0px 2px 4px oklch(from var(--vscode-editor-background) 0.1 c h / 0.15); */
}

/** style(sidebar) add rocket icon :) */
.monaco-workbench .part.sidebar > .title > .title-label h2::before {
  display: inline-block;
  margin-right: 6px;
  content: var(--al-project-icon, "🚀");
  color: transparent !important;
  background: var(--title-color);
  background-clip: text;
  text-shadow: none;
}

/** fix(sidebar) title position */
.sidebar .title-label {
  padding: 0 !important;
}
