/** style(sidebar) title */
.monaco-workbench .part.sidebar > .title > .title-label h2 {
  color: transparent !important;
  text-transform: uppercase;
  background: color-mix(
    in srgb,
    color-mix(
      in srgb,
      oklch(from var(--vscode-sideBarTitle-foreground, var(--vscode-foreground)) l c h / 1) 40%,
      oklch(from var(--vscode-editor-background) 0.95 0.5 h)
    ),
    oklch(from var(--vscode-foreground) 0.5 c h / 1) 20%
  );
  background-clip: text;
}

/** style(sidebar) add rocket icon :) */
.monaco-workbench .part.sidebar > .title > .title-label h2::before {
  display: inline-block;
  margin-right: 6px;
  content: var(--al-project-icon, "🚀");
}

/** fix(sidebar) title position */
.sidebar .title-label {
  padding: 0 !important;
}
