/** Register custom css variables and color shade alignment */
body .monaco-workbench {
  --vscode-tab-inactiveBackground: rgba(255, 255, 255, 0.05);
  --vscode-tab-activeBackground: var(
    --al-tab-activeBackground,
    var(--vscode-tab-activeBorderTop, rgba(255, 255, 255, 0.12))
  );
  --titlebar-height: var(--al-tab-height);
}

/** style(tabs) add text shadow for title */
.monaco-icon-label > .monaco-icon-label-container > .monaco-icon-name-container > .label-name {
  text-shadow: var(--al-label-name-shadow, 0px 2px 4px rgba(0, 0, 0, 0.15));
}

/** style(tabs) hide tab close button and changes counter */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab
  > .monaco-icon-label:after {
  display: none;
}

/** style(tabs) add icon shadow */
.monaco-workbench .part.editor > .content .editor-group-container > .title .monaco-icon-label:before {
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.75));
}

/** style(tabs) apply configurable height for container */
.monaco-workbench .part.editor > .content .editor-group-container > .title > .tabs-and-actions-container {
  --tabs-border-bottom-color: var(--al-pane-split-color) !important;
}

/** style(tabs) apply configurable sizes for tab item */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container {
  --editor-group-tab-height: calc(var(--al-tab-height) - (var(--al-tab-y-offset) * 2));
  padding: var(--al-tab-y-offset) 6px var(--al-tab-y-offset) 8px;
  gap: 8px;
}

/** style(tabs) apply configurable radius for tab item */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab {
  border-radius: var(--al-tab-borderRadius, 4px);
  overflow: hidden;
  border-right: none !important;
  --tab-border-bottom-color: transparent !important;
}

/** style(tabs) outline glowing for tab item */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.active {
  outline: 2px dashed var(--vscode-tab-activeBackground) !important;
  outline-offset: 2px !important;
}

/** styles(tabs) configurable title color */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active
  .monaco-icon-name-container {
  color: var(--al-tab-activeColor, var(--vscode-tab-activeForeground)) !important;
}

/** styles(tabs) configurable title font size */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label a,
.monaco-workbench .part.editor > .content .editor-group-container > .title .title-label a {
  font-size: var(--al-tab-fontSize, 14px);
}


/** fix(tabs) remove title mask which use color to fade */
.monaco-workbench
  .part.editor
  .editor-group-container
  > .title
  .tabs-container
  > .tab
  > .tab-label
  > .monaco-icon-label-container::after {
  display: none;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-label {
  font-size: var(--al-tab-fontSize, 14px);
  align-items: center;
  mask-image: linear-gradient(to right, black calc(100% - 5px), transparent 100%);
  mask-repeat: no-repeat;
}

/** fix(tabs) icon/title align and disable title truncate */
.tabs-container .monaco-icon-label-container {
  display: flex;
  align-items: center;
  overflow: visible !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  > .tabs-and-actions-container.tabs-border-bottom:after {
  left: var(--tabs-border-left-offset, 0px);
  width: calc(100% - var(--tabs-border-left-offset, 0px));
}

/** style(sidebar) same height for pixel perfect of splitter line */
.monaco-workbench .part.sidebar > .title {
  height: var(--al-tab-height);
}

.monaco-workbench .part.sidebar > .title > .title-label {
  line-height: var(--al-tab-height);
}
